<% if @courses.blank? %>
<p>There are not any courses currently in the system matching that name.</p>
<% else %>
<p>These are the current courses in our system matching that name</p>

<ul id = "Courses">
   <% @courses.each do |c| %>
   <li>
        <%= link_to c.name, {:controller => 'course', :action => 'show', :id => c.course_id} -%>
   </li>
</ul>

<% end %>
<% end %>