<h1><%= @department.name %></h1>

<p>
   <h2>Professors:</h2>
   	   <% @professors.each do |c| %>
   	   <ul id = "Professors">
		   <li>
		        <%= link_to c.name, {:controller => 'professor', :action => 'show', :id => c.id} %>
		   </li>
		</ul>
	<% end %>

   <h2>Courses:</h2>
   
	   <% @courses.each do |c| %>
	   <ul id = "Courses">
	   <li>
	         <%= link_to c.name, {:controller => 'course', :action => 'show', :id => c.id}  %>
	        
	   </li>
	</ul>
	<% end %>

</p>

<hr />

